# Fragrantica perfume review clasifier (Preprocessing)

In [67]:
import pandas as pd

In [68]:
df = pd.read_csv('../dataset/ .csv')
labels = pd.read_csv('../dataset/labels.csv')

In [69]:
df.head()

,Unnamed: 0,gender,name,accords,review,tokenized,only_english,longer_than_2_A,stopwords_removed,lemmatizated
0,0,female,Alien Mugler for women,"['white floral', 'amber', 'woody']","Got a sample of this today, and my 9 year old ...","['got', 'a', 'sample', 'of', 'this', 'today', ...","['got', 'a', 'sample', 'of', 'this', 'today', ...","['got', 'sample', 'this', 'today', 'and', 'yea...","['got', 'sample', 'today', 'year', 'old', 'dau...","['get', 'sample', 'today', 'year', 'old', 'dau..."
1,1,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",First impressions. Test on blotter.\r\nI have ...,"['first', 'impressions.', 'test', 'on', 'blott...","['first', 'impressions', 'test', 'on', 'blotte...","['first', 'impressions', 'test', 'blotter', 'h...","['first', 'impressions', 'test', 'blotter', 'h...","['first', 'impression', 'test', 'blotter', 'he..."
2,2,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",This perfume reminds me of my best friend. Act...,"['this', 'perfume', 'reminds', 'me', 'of', 'my...","['this', 'perfume', 'reminds', 'me', 'of', 'my...","['this', 'perfume', 'reminds', 'best', 'friend...","['perfume', 'reminds', 'best', 'friend', 'actu...","['perfume', 'reminds', 'best', 'friend', 'actu..."
3,3,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",Imagine tripping over your own feet and fallin...,"['imagine', 'tripping', 'over', 'your', 'own',...","['imagine', 'tripping', 'over', 'your', 'own',...","['imagine', 'tripping', 'over', 'your', 'own',...","['imagine', 'tripping', 'feet', 'falling', 'fa...","['imagine', 'trip', 'foot', 'fall', 'face', 'f..."
4,4,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",Gorgeous Gorgeous Blend ..\r\nLove the scent.....,"['gorgeous', 'gorgeous', 'blend', '..', 'love'...","['gorgeous', 'gorgeous', 'blend', '', 'love', ...","['gorgeous', 'gorgeous', 'blend', 'love', 'the...","['gorgeous', 'gorgeous', 'blend', 'love', 'sce...","['gorgeous', 'gorgeous', 'blend', 'love', 'sce..."

In [70]:
# Delete useless column

df = df.drop('Unnamed: 0', axis=1)

In [71]:
labels

    Unnamed: 0                                          name  label
0            0                        Alien Mugler for women    2.0
1            1            Coco Mademoiselle Chanel for women    2.0
2            2               Black Orchid Tom Ford for women    2.0
3            3      Black Opium Yves Saint Laurent for women    2.0
4            4      Hypnotic Poison Christian Dior for women    2.0
..         ...                                           ...    ...
84          84         Spicebomb Extreme Viktor&Rolf for men    1.0
85          85                   Cool Water Davidoff for men    0.0
86          86                Herod Parfums de Marly for men    1.0
87          87  L’Homme Ideal Eau de Parfum Guerlain for men    1.0
88          88      Jazz Club Maison Martin Margiela for men    1.0

[89 rows x 3 columns]

In [72]:
print(f'number of perfumes: {df.name.nunique()}')
print(f'number of perfumes with label: {labels.name.nunique()}')
print(f'number of classes: {labels.label.nunique()}')
print(f'number of null data: {len(df.isna().values)}')

number of perfumes: 89
number of perfumes with label: 89
number of classes: 4
number of null data: 75183

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75183 entries, 0 to 75182
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             75183 non-null  object
 1   name               75183 non-null  object
 2   accords            75183 non-null  object
 3   review             75182 non-null  object
 4   tokenized          75183 non-null  object
 5   only_english       75183 non-null  object
 6   longer_than_2_A    75183 non-null  object
 7   stopwords_removed  75183 non-null  object
 8   lemmatizated       75183 non-null  object
dtypes: object(9)
memory usage: 5.2+ MB

## Null value 처리

In [74]:
is_na = df.isna().values

In [75]:
# NaN value 찾기

na_indices = []
for idx, row in enumerate(is_na):
    if True in row:
        print(f'na value found in {idx}')
        print(df.iloc[idx])
        na_indices.append(idx)

na value found in 68354
gender                                                            male
name                               Acqua di Gio Giorgio Armani for men
accords              ['citrus', 'aromatic', 'marine', 'fresh spicy'...
review                                                             NaN
tokenized                                                           []
only_english                                                        []
longer_than_2_A                                                     []
stopwords_removed                                                   []
lemmatizated                                                        []
Name: 68354, dtype: object

In [76]:
for idx in na_indices:
    df = df.drop(idx, axis=0)

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 75182 entries, 0 to 75182
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             75182 non-null  object
 1   name               75182 non-null  object
 2   accords            75182 non-null  object
 3   review             75182 non-null  object
 4   tokenized          75182 non-null  object
 5   only_english       75182 non-null  object
 6   longer_than_2_A    75182 non-null  object
 7   stopwords_removed  75182 non-null  object
 8   lemmatizated       75182 non-null  object
dtypes: object(9)
memory usage: 5.7+ MB

## 중복 데이터 처리

In [78]:
# 75182 VS 74779
# 중복 있다

df['review'].nunique()

74779

In [79]:
# 중복 제거

df.drop_duplicates(subset=['review'], inplace=True) # v2 열에서 중복인 내용이 있다면 중복 제거

In [80]:
print('총 샘플의 수 :',len(df))

총 샘플의 수 : 74779

## 라벨링 하기

In [81]:
label_dict = labels[['name', 'label']].set_index('name').to_dict('index')
label_dict

{'Alien Mugler for women': {'label': 2.0},
 'Coco Mademoiselle Chanel for women': {'label': 2.0},
 'Black Orchid Tom Ford for women': {'label': 2.0},
 'Black Opium Yves Saint Laurent for women': {'label': 2.0},
 'Hypnotic Poison Christian Dior for women': {'label': 2.0},
 'La Vie Est Belle Lancome for women': {'label': 2.0},
 'Mon Guerlain Guerlain for women': {'label': 2.0},
 'Light Blue Dolce&Gabbana for women': {'label': 0.0},
 'Libre Yves Saint Laurent for women': {'label': 2.0},
 'Angel Mugler for women': {'label': 2.0},
 'Good Girl Carolina Herrera for women': {'label': 2.0},
 'Crystal Noir Versace for women': {'label': 2.0},
 'Cloud Ariana Grande for women': {'label': 3.0},
 "J'adore Christian Dior for women": {'label': 2.0},
 'Chloe Eau de Parfum Chloé for women': {'label': 2.0},
 'Narciso Rodriguez For Her Narciso Rodriguez for women': {'label': 2.0},
 'La Nuit Tresor Lancome for women': {'label': 2.0},
 "L'Interdit Eau de Parfum Givenchy for women": {'label': 2.0},
 'Delina Parfums de Marly for women': {'label': 3.0},
 'Shalimar Eau de Parfum Guerlain for women': {'label': 1.0},
 'Flowerbomb Viktor&Rolf for women': {'label': 2.0},
 'Olympéa Paco Rabanne for women': {'label': 2.0},
 'Chance Eau Tendre Chanel for women': {'label': 0.0},
 "D&G Anthology L'Imperatrice 3 Dolce&Gabbana for women": {'label': 3.0},
 'Pure Poison Christian Dior for women': {'label': 2.0},
 'Angel Muse Mugler for women': {'label': 2.0},
 'Si Giorgio Armani for women': {'label': 2.0},
 'Burberry Her Burberry for women': {'label': 3.0},
 'Euphoria Calvin Klein for women': {'label': 2.0},
 'Portrait of a Lady Frederic Malle for women': {'label': 3.0},
 'Baccarat Rouge 540 Maison Francis Kurkdjian for women and men': {'label': 3.0},
 'Tobacco Vanille Tom Ford for women and men': {'label': 1.0},
 'By the Fireplace Maison Martin Margiela for women and men': {'label': 1.0},
 'Lost Cherry Tom Ford for women and men': {'label': 1.0},
 'Layton Parfums de Marly for women and men': {'label': 1.0},
 'Oud Wood Tom Ford for women and men': {'label': 1.0},
 'Ombré Leather (2018) Tom Ford for women and men': {'label': 1.0},
 'Cedrat Boise Mancera for women and men': {'label': 3.0},
 "Angels' Share By Kilian for women and men": {'label': 1.0},
 "Bal d'Afrique Byredo for women and men": {'label': 3.0},
 'CK One Calvin Klein for women and men': {'label': 0.0},
 'Intense Cafe Montale for women and men': {'label': 2.0},
 'Grand Soir Maison Francis Kurkdjian for women and men': {'label': 1.0},
 'Red Tobacco Mancera for women and men': {'label': 1.0},
 'Wood Sage & Sea Salt Jo Malone London for women and men': {'label': 0.0},
 'Baccarat Rouge 540 Extrait de Parfum Maison Francis Kurkdjian for women and men': {'label': 3.0},
 'Chergui Serge Lutens for women and men': {'label': 1.0},
 'Black Phantom By Kilian for women and men': {'label': 2.0},
 'Black Afgano Nasomatto for women and men': {'label': 1.0},
 'Molecule 01 Escentric Molecules for women and men': {'label': 1.0},
 'Hacivat Nishane for women and men': {'label': 3.0},
 'Ani Nishane for women and men': {'label': 1.0},
 'Oud for Greatness Initio Parfums Prives for women and men': {'label': 1.0},
 'Noir de Noir Tom Ford for women and men': {'label': 2.0},
 'Mémoire d’une Odeur Gucci for women and men': {'label': 2.0},
 'Un Jardin Sur Le Nil Hermès for women and men': {'label': 0.0},
 'Tuscan Leather Tom Ford for women and men': {'label': 1.0},
 'Musc Ravageur Frederic Malle for women and men': {'label': 1.0},
 "02 L'Air du Desert Marocain Tauer Perfumes for women and men": {'label': 1.0},
 'Santal 33 Le Labo for women and men': {'label': 1.0},
 'Aventus Creed for men': {'label': 3.0},
 "La Nuit de l'Homme Yves Saint Laurent for men": {'label': 0.0},
 'Acqua di Giò Profumo Giorgio Armani for men': {'label': 0.0},
 'Club de Nuit Intense Man Armaf for men': {'label': 3.0},
 'Sauvage Christian Dior for men': {'label': 0.0},
 'Dior Homme Intense 2011 Christian Dior for men': {'label': 1.0},
 'Encre Noire Lalique for men': {'label': 2.0},
 'Eros Versace for men': {'label': 0.0},
 "Terre d'Hermes Hermès for men": {'label': 0.0},
 "Prada L'Homme Prada for men": {'label': 0.0},
 'The One for Men Eau de Parfum Dolce&Gabbana for men': {'label': 0.0},
 'Versace Pour Homme Versace for men': {'label': 0.0},
 'Versace Pour Homme Dylan Blue Versace for men': {'label': 0.0},
 'Bleu de Chanel Chanel for men': {'label': 0.0},
 'Explorer Montblanc for men': {'label': 3.0},
 'Y Eau de Parfum Yves Saint Laurent for men': {'label': 0.0},
 'Ultra Male Jean Paul Gaultier for men': {'label': 3.0},
 'Allure Homme Sport Eau Extreme Chanel for men': {'label': 0.0},
 'Acqua di Gio Giorgio Armani for men': {'label': 0.0},
 'Toy Boy Moschino for men': {'label': 3.0},
 'Bentley for Men Intense Bentley for men': {'label': 1.0},
 'Le Male Jean Paul Gaultier for men': {'label': 0.0},
 'Fahrenheit Christian Dior for men': {'label': 1.0},
 'Bleu de Chanel Eau de Parfum Chanel for men': {'label': 0.0},
 'Spicebomb Extreme Viktor&Rolf for men': {'label': 1.0},
 'Cool Water Davidoff for men': {'label': 0.0},
 'Herod Parfums de Marly for men': {'label': 1.0},
 'L’Homme Ideal Eau de Parfum Guerlain for men': {'label': 1.0},
 'Jazz Club Maison Martin Margiela for men': {'label': 1.0}}

In [82]:
df['label'] = df['name'].map(lambda name: label_dict[name]['label'])
df.head()

,gender,name,accords,review,tokenized,only_english,longer_than_2_A,stopwords_removed,lemmatizated,label
0,female,Alien Mugler for women,"['white floral', 'amber', 'woody']","Got a sample of this today, and my 9 year old ...","['got', 'a', 'sample', 'of', 'this', 'today', ...","['got', 'a', 'sample', 'of', 'this', 'today', ...","['got', 'sample', 'this', 'today', 'and', 'yea...","['got', 'sample', 'today', 'year', 'old', 'dau...","['get', 'sample', 'today', 'year', 'old', 'dau...",2.0
1,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",First impressions. Test on blotter.\r\nI have ...,"['first', 'impressions.', 'test', 'on', 'blott...","['first', 'impressions', 'test', 'on', 'blotte...","['first', 'impressions', 'test', 'blotter', 'h...","['first', 'impressions', 'test', 'blotter', 'h...","['first', 'impression', 'test', 'blotter', 'he...",2.0
2,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",This perfume reminds me of my best friend. Act...,"['this', 'perfume', 'reminds', 'me', 'of', 'my...","['this', 'perfume', 'reminds', 'me', 'of', 'my...","['this', 'perfume', 'reminds', 'best', 'friend...","['perfume', 'reminds', 'best', 'friend', 'actu...","['perfume', 'reminds', 'best', 'friend', 'actu...",2.0
3,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",Imagine tripping over your own feet and fallin...,"['imagine', 'tripping', 'over', 'your', 'own',...","['imagine', 'tripping', 'over', 'your', 'own',...","['imagine', 'tripping', 'over', 'your', 'own',...","['imagine', 'tripping', 'feet', 'falling', 'fa...","['imagine', 'trip', 'foot', 'fall', 'face', 'f...",2.0
4,female,Alien Mugler for women,"['white floral', 'amber', 'woody']",Gorgeous Gorgeous Blend ..\r\nLove the scent.....,"['gorgeous', 'gorgeous', 'blend', '..', 'love'...","['gorgeous', 'gorgeous', 'blend', '', 'love', ...","['gorgeous', 'gorgeous', 'blend', 'love', 'the...","['gorgeous', 'gorgeous', 'blend', 'love', 'sce...","['gorgeous', 'gorgeous', 'blend', 'love', 'sce...",2.0

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74779 entries, 0 to 75182
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             74779 non-null  object
 1   name               74779 non-null  object
 2   accords            74779 non-null  object
 3   review             74779 non-null  object
 4   tokenized          74779 non-null  object
 5   only_english       74779 non-null  object
 6   longer_than_2_A    74779 non-null  object
 7   stopwords_removed  74779 non-null  object
 8   lemmatizated       74779 non-null  object
 9   label              74779 non-null  float64
dtypes: float64(1), object(9)
memory usage: 6.3+ MB

In [87]:
is_na = df.isna().values

In [88]:
# NaN value 찾기

na_indices = []
for idx, row in enumerate(is_na):
    if True in row:
        print(f'na value found in {idx}')
        print(df.iloc[idx])
        na_indices.append(idx)

na_indices

[]

In [ ]:
df.to_csv('../dataset/dataset_210626.csv')